body {
    font-size: 18px; /* Adjust the base font size */
    font-weight: 400; /* Adjust the base font weight */
  }
  
  h1 {
    font-size: 2em; /* Adjust the font size for h1 */
    font-weight: 700; /* Adjust the font weight for h1 */
  }
  
  h2 {
    font-size: 1.5em; /* Adjust the font size for h2 */
    font-weight: 600; /* Adjust the font weight for h2 */
  }
  
  p {
    font-size: 16px; /* Adjust the font size for paragraphs */
    font-weight: 400; /* Adjust the font weight for paragraphs */
  }
.aqua-text {
    background: #b4efe8;
}
.navbar-nav .nav-item .nav-link {
    color: #5f3f12 !important;
    padding-left: 20px;
}
.modal-content {
    color: #5f3f12;
    background: #deb4b7;
}
.head {
    font-size: 20px;
}
img {
    width: 20%;
}

footer {
    background-color: #deb4b7;
    color: #5f3f12;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: -15px;
}
.lower {
    background-color: #deb4b7;
    color: #5f3f12;
    padding-top: 30px;
}
#pic {
    margin-top: -100px;
}
a {
    color: #5f3f12;
}
.card-body {
    margin-top: -20px;
}
.btn-lg {
    border-color: #deb4b7;
    background-color: #b4efe8;
    padding-left: 70px;
    padding-right: 70px;
}
.img-fluid {
    min-width: 60%;
}
.copy {
    margin-left: 10%;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 300;
}
.col-sm-4 {
    font-size: 150%;
    margin-top: 100px;
    text-align: center;
}
#inputEmail {
    align-items: center;
}
.card {
    border: none;
}

.card-img-top {
    padding: 20px;
    height: 50vh;
    object-fit: cover;
}

.mt-4 {
    padding-top: 120px;
    color: #5f3f12 !important;
    padding-bottom: 100px;
}
#detail{
    color: #5f3f12 !important;
}

#quantity {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    padding: 10px; /* Add padding for better visual appearance */
    display: inline-block; /* Ensure the input doesn't take the full width */
    margin-right: 10px; /* Add some space to the right of the input */
  }
  .mt-5{
    padding-top: 100px;
  }
  
  .edit-btn {
    background-color: #b4efe8;
    color: #5f3f12;
}

.delete-btn {
    background-color: #deb4b7;
    color: #5f3f12;
}
.add-product-btn {
    background-color: #b4efe8;
    color: #5f3f12;
    margin-left: 100px;
}

table {
    margin-top: 150px;
    margin-left: 100px;
   
}

  
