<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light aqua-text head fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="mainpage" src="/icons/bakery-logo.png" alt="logo"></a>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <div class="row">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#" id="aboutLink">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="cakesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" data-toggle="modal" data-target="#specialModal">Specials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="deliveryLink">Delivery</a>
              </li>
            </ul>
          </div>
          <div class="navbar-nav ml-auto text-center d-flex flex-row">
        </div>
      </nav>
      <section>
        <body>

            <h1>Edit Product</h1>
            
            <form action="/:id" method="post">
                <!-- Product ID (hidden field) -->
                <input type="hidden" name="id" value="1003">
            
                <!-- Product Name -->
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="name" value="Birthday Cake" required>
            
                <!-- Description -->
                <label for="productDescription">Description:</label>
                <textarea id="productDescription" name="description" rows="4" required>A scrumptious birthday cake perfect for celebrations.</textarea>
            
                <!-- Details -->
                <label for="productDetails">Details:</label>
                <textarea id="productDetails" name="details" rows="4" required>Moist layers with creamy frosting, guaranteed to make your day special…</textarea>
            
                <!-- Image -->
                <label for="productImage">Image URL:</label>
                <input type="text" id="productImage" name="image" value="images/cake-birthday.jpeg" required>
            
                <!-- Price -->
                <label for="productPrice">Price:</label>
                <input type="number" id="productPrice" name="price" value="29.99" step="0.01" required>
            
                <!-- Size -->
                <label for="productSize">Size:</label>
                <input type="text" id="productSize" name="size" value="9-inch" required>
            
                <!-- Type -->
                <label for="productType">Type:</label>
                <input type="text" id="productType" name="type" value="cake" required>
            
                <!-- Submit button -->
                <button type="submit">Save Changes</button>
            </form>
            
      </section>
      <section class=" row lower">
        <div class="col-sm-4">
          <a href="/"><img src="/icons/bakery-logo.png" class="img-fluid" id="pic" alt="logo"></a>
          <p class="copy">©2023 Sweet Bee Cakes. All Rights Reserved</p>
        </div>
        <div class="col-sm-4">
          <form class="form-inline text-center">
            <p>Bee Come a Member EClub</p>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email"><button type="submit" class="btn aqua-text">Join</button>
          </form>
        </div>
        <div class="col-sm-4">
          <a href="#"><i class="bi bi-facebook"></i></a>&emsp;<a href="#"><i class="bi bi-twitter"></i></a>&emsp;<a href="#"><i class="bi bi-instagram"></i></a>
        </div>
        
      </section>
      <footer>
        <div class="row text-center">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <a href="#">privacy policy</a>
          </div>
          <div class="col-md-4">
            <a href="#">Contact Us</a>
          </div>
        </div>
      </footer>
      <script src="/scripts/index.js"></script>
    
    
    
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    </body>
    </html>
